a:link{
    color:white;
    text-decoration:underline;
    font-style:italic;
}

a:visited{
    color:gold;
    text-decoration:none;
    font-style:italic;
}

a:hover{
    color:lime;
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
}

a:active{
    color:deeppink;
    text-decoration:none;
    font-style:italic;
}