body {
    background-color:midnightblue;
}

h1 {
    color:aliceblue;
    text-align: center;
}
h3 {
    color:lavender;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}


p.one {
    max-width: 300px;
    height: fit-content;
    margin: auto;
    text-align: left;
    border-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

p.two {
    border-left: 5px solid chartreuse;
    max-width: 250px;
    height: auto;
    margin: auto;
    padding: 10px;
}

div.card{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(220, 220, 220, 0.6);
    width:auto;
}

ul li {
    float: left;
}
ul li a:link, ul li a:visited {
    display: block;
    color: darkblue;
    padding: 8px;
    text-decoration: none;
}

ul li a:hover, ul li a:active {
    text-decoration: underline;
    color: lime;
}

.WOW {
    color: brown;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-family: Garamond, serif;
}

.smol {
    font-size: 12px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif
}

